/Debug/
/Release/
/x64/
/Parser/
/googletest/
/cmake-build-debug
/cmake-build-release-mingw-60
*.o
*.obj
*.vcd
simulator

### VS config ###
*.sln
*.vcxproj
*.user
1

### STS ###


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### webpack ###
